USE [QL_BAOTANG]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 26/05/2023 10:57:27 PM ******/
CREATE ROLE [ADMIN]
GO
/****** Object:  DatabaseRole [EMPLOYEE]    Script Date: 26/05/2023 10:57:27 PM ******/
CREATE ROLE [EMPLOYEE]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_owner] ADD MEMBER [EMPLOYEE]
GO
/****** Object:  Table [dbo].[TPNT]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPNT](
	[MATPNT] [nchar](10) NOT NULL,
	[TENTPNT] [nchar](50) NULL,
	[MATACGIA] [nchar](10) NULL,
	[MOTA] [nchar](50) NULL,
 CONSTRAINT [PK_TPNT] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [nchar](10) NOT NULL,
	[TEN] [nchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NGAYMAT] [date] NULL,
	[QUOCTICH] [nchar](50) NULL,
	[THOIDAI] [nchar](50) NULL,
	[PHONGCACHCHINH] [nchar](50) NULL,
	[DIENGIAI] [nchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_GETTPNT]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[VIEW_GETTPNT] 
AS
SELECT TP.MATPNT , TP.TENTPNT,
TENTACGIA = (SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA = TP.MATACGIA),
TP.MOTA
FROM TPNT TP
GO
/****** Object:  Table [dbo].[HOIHOA]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIHOA](
	[MATPNT] [nchar](10) NOT NULL,
	[TRUONGPHAI] [nchar](50) NULL,
	[VATLIEU] [nchar](50) NULL,
	[CHATLIEU] [nchar](50) NULL,
 CONSTRAINT [PK_HOIHOA] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_HOIHOA]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[VIEW_HOIHOA]
AS
SELECT HH.MATPNT AS 'MÃ TPNT' , 
(SELECT TPNT.TENTPNT FROM TPNT WHERE TPNT.MATPNT = HH.MATPNT)  AS 'TÊN TPNT',
(SELECT TPNT.MOTA FROM TPNT WHERE TPNT.MATPNT = HH.MATPNT) AS 'MÔ TẢ',
(SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA =  (SELECT TPNT.MATACGIA FROM TPNT WHERE TPNT.MATPNT = HH.MATPNT) ) AS 'TÁC GIẢ',
HH.TRUONGPHAI AS 'TRƯỜNG PHÁI',
HH.VATLIEU AS 'VẬT LIỆU',
HH.CHATLIEU AS 'CHẤT LIỆU'
FROM HOIHOA HH
GO
/****** Object:  Table [dbo].[TACTUONG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACTUONG](
	[MATPNT] [nchar](10) NOT NULL,
	[CHIEUCAO] [int] NULL,
	[KHOILUONG] [int] NULL,
	[PHONGCACH] [nchar](50) NULL,
	[VATLIEU] [nchar](50) NULL,
 CONSTRAINT [PK_TACTUONG] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_TACTUONG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[VIEW_TACTUONG]
AS
SELECT TT.MATPNT AS 'MÃ TPNT', 
(SELECT TPNT.TENTPNT FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) AS 'TÊN TPNT',
(SELECT TPNT.MOTA FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) AS 'MÔ TẢ',
(SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA =  (SELECT TPNT.MATACGIA FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) ) AS 'TÁC GIẢ',
TT.CHIEUCAO AS 'CHIỀU CAO ',
TT.KHOILUONG AS 'KHỐI LƯỢNG',
TT.PHONGCACH AS 'PHONG CÁCH ',
TT.VATLIEU AS 'VẬT LIỆU'
FROM TACTUONG TT
GO
/****** Object:  Table [dbo].[KHAC]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHAC](
	[MATPNT] [nchar](10) NOT NULL,
	[THELOAI] [nchar](50) NULL,
	[PHONGCACH] [nchar](50) NULL,
	[CHATLIEU] [nchar](50) NULL,
	[VATLIEU] [nchar](50) NULL,
 CONSTRAINT [PK_KHAC] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_KHAC]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[VIEW_KHAC]
AS
SELECT TT.MATPNT AS 'MÃ TPNT', 
(SELECT TPNT.TENTPNT FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) AS 'TÊN TPNT',
(SELECT TPNT.MOTA FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) AS 'MÔ TẢ',
(SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA =  (SELECT TPNT.MATACGIA FROM TPNT WHERE TPNT.MATPNT = TT.MATPNT) ) AS 'TÁC GIẢ',
TT.THELOAI  AS 'THỂ LOẠI',
TT.CHATLIEU  AS 'CHẤT LIỆU',
TT.PHONGCACH  AS 'PHONG CÁCH',
TT.VATLIEU  AS 'VẬT LIỆU'
FROM KHAC TT
GO
/****** Object:  Table [dbo].[BOSUUTAP]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOSUUTAP](
	[MASUUTAP] [nchar](10) NOT NULL,
	[TENSUUTAP] [nchar](50) NULL,
	[MAHINHTHUC] [nchar](10) NULL,
	[MANHANVIEN] [nchar](10) NULL,
	[HINHTHUCSUUTAP] [nchar](30) NULL,
 CONSTRAINT [PK_BOSUUTAP] PRIMARY KEY CLUSTERED 
(
	[MASUUTAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TRIENLAM]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TRIENLAM](
	[MATRIENLAM] [nchar](10) NOT NULL,
	[MATPNT] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CT_TRIENLAM] PRIMARY KEY CLUSTERED 
(
	[MATRIENLAM] ASC,
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMUON](
	[MATPNT] [nchar](10) NOT NULL,
	[MABOSUUTAP] [nchar](10) NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_LOAIMUON] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIRIENG](
	[MATPNT] [nchar](10) NOT NULL,
	[NGAYSOHUU] [date] NULL,
	[TINHTRANG] [nchar](20) NULL,
	[VITRI] [nchar](10) NULL,
	[TRIGIA] [money] NULL,
 CONSTRAINT [PK_LOAIRIENG] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nchar](30) NULL,
	[TEN] [nchar](20) NULL,
	[CMND] [nchar](15) NULL,
	[DIACHI] [nchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[CHUCDANH] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIENLAM]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIENLAM](
	[MATRIENLAM] [nchar](10) NOT NULL,
	[TENTRIENLAM] [nchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
 CONSTRAINT [PK_TRIENLAM] PRIMARY KEY CLUSTERED 
(
	[MATRIENLAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOSUUTAP] ([MASUUTAP], [TENSUUTAP], [MAHINHTHUC], [MANHANVIEN], [HINHTHUCSUUTAP]) VALUES (N'BST01     ', N'BÌNH MINH                                         ', N'HTST01    ', N'NV01      ', NULL)
INSERT [dbo].[BOSUUTAP] ([MASUUTAP], [TENSUUTAP], [MAHINHTHUC], [MANHANVIEN], [HINHTHUCSUUTAP]) VALUES (N'BST02     ', N'HỎA GIA                                           ', N'HTST02    ', N'NV02      ', NULL)
INSERT [dbo].[BOSUUTAP] ([MASUUTAP], [TENSUUTAP], [MAHINHTHUC], [MANHANVIEN], [HINHTHUCSUUTAP]) VALUES (N'BST03     ', N'HẢI HỮU                                           ', N'HTST02    ', N'NV03      ', NULL)
GO
INSERT [dbo].[CT_TRIENLAM] ([MATRIENLAM], [MATPNT]) VALUES (N'TL01      ', N'TPNT01    ')
INSERT [dbo].[CT_TRIENLAM] ([MATRIENLAM], [MATPNT]) VALUES (N'TL01      ', N'TPNT02    ')
INSERT [dbo].[CT_TRIENLAM] ([MATRIENLAM], [MATPNT]) VALUES (N'TL02      ', N'TPNT01    ')
GO
INSERT [dbo].[HOIHOA] ([MATPNT], [TRUONGPHAI], [VATLIEU], [CHATLIEU]) VALUES (N'TPNT01    ', N'TP01                                              ', N'                                                  ', N'                                                  ')
INSERT [dbo].[HOIHOA] ([MATPNT], [TRUONGPHAI], [VATLIEU], [CHATLIEU]) VALUES (N'TPNT01111 ', N'TP03                                              ', N'                                                  ', N'                                                  ')
INSERT [dbo].[HOIHOA] ([MATPNT], [TRUONGPHAI], [VATLIEU], [CHATLIEU]) VALUES (N'TPNT05    ', N'TP01                                              ', NULL, NULL)
GO
INSERT [dbo].[KHAC] ([MATPNT], [THELOAI], [PHONGCACH], [CHATLIEU], [VATLIEU]) VALUES (N'TPNT015   ', N'TL01                                              ', N'PC01                                              ', N'                                                  ', N'                                                  ')
INSERT [dbo].[KHAC] ([MATPNT], [THELOAI], [PHONGCACH], [CHATLIEU], [VATLIEU]) VALUES (N'TPNT03    ', N'TL01                                              ', N'PC01                                              ', N'                                                  ', N'                                                  ')
GO
INSERT [dbo].[LOAIMUON] ([MATPNT], [MABOSUUTAP], [NGAYMUON], [NGAYTRA]) VALUES (N'TPNT0299  ', N'BST01     ', CAST(N'2023-05-05' AS Date), CAST(N'2023-05-10' AS Date))
INSERT [dbo].[LOAIMUON] ([MATPNT], [MABOSUUTAP], [NGAYMUON], [NGAYTRA]) VALUES (N'TPNT03    ', N'BST01     ', CAST(N'2020-12-25' AS Date), CAST(N'2021-05-08' AS Date))
INSERT [dbo].[LOAIMUON] ([MATPNT], [MABOSUUTAP], [NGAYMUON], [NGAYTRA]) VALUES (N'TPNT08    ', N'BST01     ', CAST(N'2023-05-04' AS Date), CAST(N'2023-05-20' AS Date))
GO
INSERT [dbo].[LOAIRIENG] ([MATPNT], [NGAYSOHUU], [TINHTRANG], [VITRI], [TRIGIA]) VALUES (N'TPNT01    ', CAST(N'2013-02-15' AS Date), N'MỚI                 ', N'TRƯNG BÀY ', 1000000000.0000)
INSERT [dbo].[LOAIRIENG] ([MATPNT], [NGAYSOHUU], [TINHTRANG], [VITRI], [TRIGIA]) VALUES (N'TPNT01111 ', CAST(N'2023-05-30' AS Date), N'mới                 ', N'kho       ', 100000.0000)
INSERT [dbo].[LOAIRIENG] ([MATPNT], [NGAYSOHUU], [TINHTRANG], [VITRI], [TRIGIA]) VALUES (N'TPNT015   ', CAST(N'2023-05-12' AS Date), N'Mới                 ', N'Trong kho ', 1000000.0000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [CMND], [DIACHI], [SDT], [CHUCDANH]) VALUES (N'NV01      ', N' NGUYỄN                       ', N'LONG                ', N'231234223      ', N'CỦ CHI,LONG AN                                    ', N'032352626           ', N'NHÂN VIÊN ')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [CMND], [DIACHI], [SDT], [CHUCDANH]) VALUES (N'NV02      ', N'KHẢ                           ', N'THÚY                ', N'252634747      ', N'KHẢ LINH,HÀ NỘI                                   ', N'052524623           ', N'NHÂN VIÊN ')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [CMND], [DIACHI], [SDT], [CHUCDANH]) VALUES (N'NV03      ', N'MAI 32                        ', N'HẢI                 ', N'346347482      ', N'DÔNG HÀ,GIA LINH                                  ', N'0326347226          ', N'QUẢN LÝ   ')
GO
INSERT [dbo].[TACGIA] ([MATACGIA], [TEN], [NGAYSINH], [NGAYMAT], [QUOCTICH], [THOIDAI], [PHONGCACHCHINH], [DIENGIAI]) VALUES (N'TG01      ', N'NGUYỄN TRƯỜNG TỘ                                  ', CAST(N'2002-02-01' AS Date), CAST(N'2021-12-01' AS Date), N'VIETNAM                                           ', N'9X                                                ', N'CỔ ĐIỂN                                           ', N'LƯU LOÁT,LOGIC                                    ')
INSERT [dbo].[TACGIA] ([MATACGIA], [TEN], [NGAYSINH], [NGAYMAT], [QUOCTICH], [THOIDAI], [PHONGCACHCHINH], [DIENGIAI]) VALUES (N'TG02      ', N'NGUYỄN ÁI QUỐC                                    ', CAST(N'1990-10-02' AS Date), CAST(N'2021-12-21' AS Date), N'VIETNAM                                           ', N'8X                                                ', N'HIỆN ĐẠI                                          ', N'LOGIC                                             ')
INSERT [dbo].[TACGIA] ([MATACGIA], [TEN], [NGAYSINH], [NGAYMAT], [QUOCTICH], [THOIDAI], [PHONGCACHCHINH], [DIENGIAI]) VALUES (N'TG03      ', N'NGUYỄN LỆ PHI2                                    ', CAST(N'1990-10-02' AS Date), CAST(N'2020-10-02' AS Date), N'VIETNAM                                           ', N'8X                                                ', N'CỔ ĐIỆN                                           ', N'MÀU MÈ                                            ')
GO
INSERT [dbo].[TACTUONG] ([MATPNT], [CHIEUCAO], [KHOILUONG], [PHONGCACH], [VATLIEU]) VALUES (N'TPNT02    ', 200, 10000, N'PC01                                              ', NULL)
INSERT [dbo].[TACTUONG] ([MATPNT], [CHIEUCAO], [KHOILUONG], [PHONGCACH], [VATLIEU]) VALUES (N'TPNT029   ', 200, 10000, N'PC01                                              ', N'                                                  ')
INSERT [dbo].[TACTUONG] ([MATPNT], [CHIEUCAO], [KHOILUONG], [PHONGCACH], [VATLIEU]) VALUES (N'TPNT0299  ', 200, 10000, N'PC01                                              ', N'                                                  ')
GO
INSERT [dbo].[TPNT] ([MATPNT], [TENTPNT], [MATACGIA], [MOTA]) VALUES (N'TPNT01    ', N'NÀNG MOLALISA                                     ', N'TG01      ', N'                                                  ')
INSERT [dbo].[TPNT] ([MATPNT], [TENTPNT], [MATACGIA], [MOTA]) VALUES (N'TPNT01111 ', N'NÀNG                                              ', N'TG02      ', N'TPNT08                                            ')
INSERT [dbo].[TPNT] ([MATPNT], [TENTPNT], [MATACGIA], [MOTA]) VALUES (N'TPNT015   ', N'ẤN VÀNG NHÀ NGUYỄN                                ', N'TG01      ', N'                                                  ')
GO
INSERT [dbo].[TRIENLAM] ([MATRIENLAM], [TENTRIENLAM], [NGAYBD], [NGAYKT]) VALUES (N'TL01      ', N'Triễn Lãm Hội Họa 2002                            ', CAST(N'2020-01-26' AS Date), CAST(N'2020-02-05' AS Date))
INSERT [dbo].[TRIENLAM] ([MATRIENLAM], [TENTRIENLAM], [NGAYBD], [NGAYKT]) VALUES (N'TL02      ', N'TRIỄN LÃM PHƯƠNG ĐÔNG á                           ', CAST(N'2020-03-04' AS Date), CAST(N'2020-04-05' AS Date))
INSERT [dbo].[TRIENLAM] ([MATRIENLAM], [TENTRIENLAM], [NGAYBD], [NGAYKT]) VALUES (N'TL03      ', N'TRIỄN LÃM CẬN ĐẠI                                 ', CAST(N'2020-02-04' AS Date), CAST(N'2020-04-04' AS Date))
GO
ALTER TABLE [dbo].[BOSUUTAP]  WITH CHECK ADD  CONSTRAINT [FK_BOSUUTAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BOSUUTAP] CHECK CONSTRAINT [FK_BOSUUTAP_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_TRIENLAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_TRIENLAM_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TRIENLAM] CHECK CONSTRAINT [FK_CT_TRIENLAM_TPNT]
GO
ALTER TABLE [dbo].[CT_TRIENLAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_TRIENLAM_TRIENLAM] FOREIGN KEY([MATRIENLAM])
REFERENCES [dbo].[TRIENLAM] ([MATRIENLAM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_TRIENLAM] CHECK CONSTRAINT [FK_CT_TRIENLAM_TRIENLAM]
GO
ALTER TABLE [dbo].[HOIHOA]  WITH CHECK ADD  CONSTRAINT [FK_HOIHOA_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOIHOA] CHECK CONSTRAINT [FK_HOIHOA_TPNT]
GO
ALTER TABLE [dbo].[KHAC]  WITH CHECK ADD  CONSTRAINT [FK_KHAC_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHAC] CHECK CONSTRAINT [FK_KHAC_TPNT]
GO
ALTER TABLE [dbo].[LOAIMUON]  WITH CHECK ADD  CONSTRAINT [FK_LOAIMUON_BOSUUTAP] FOREIGN KEY([MABOSUUTAP])
REFERENCES [dbo].[BOSUUTAP] ([MASUUTAP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOAIMUON] CHECK CONSTRAINT [FK_LOAIMUON_BOSUUTAP]
GO
ALTER TABLE [dbo].[LOAIMUON]  WITH CHECK ADD  CONSTRAINT [FK_LOAIMUON_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOAIMUON] CHECK CONSTRAINT [FK_LOAIMUON_TPNT]
GO
ALTER TABLE [dbo].[LOAIRIENG]  WITH CHECK ADD  CONSTRAINT [FK_LOAIRIENG_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOAIRIENG] CHECK CONSTRAINT [FK_LOAIRIENG_TPNT]
GO
ALTER TABLE [dbo].[TACTUONG]  WITH CHECK ADD  CONSTRAINT [FK_TACTUONG_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TACTUONG] CHECK CONSTRAINT [FK_TACTUONG_TPNT]
GO
ALTER TABLE [dbo].[TPNT]  WITH CHECK ADD  CONSTRAINT [FK_TPNT_TACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TPNT] CHECK CONSTRAINT [FK_TPNT_TACGIA]
GO
/****** Object:  StoredProcedure [dbo].[REPORT_SP_TACGIA_TPNT]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[REPORT_SP_TACGIA_TPNT]
@MATG NCHAR(10)
AS
BEGIN
SELECT * FROM TPNT WHERE MATACGIA=@MATG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKLOAITS]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CHECKLOAITS]
    @MATPNT VARCHAR(50),
    @Exists BIT OUTPUT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM LOAIRIENG WHERE MATPNT = @MATPNT)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMATRIENLAM]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CHECKMATRIENLAM]
    @MATRIENLAM VARCHAR(50),
    @Exist BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra sự tồn tại của MATRIENLAM trong bảng TRIENLAM
    IF EXISTS (SELECT 1 FROM TRIENLAM WHERE MATRIENLAM = @MATRIENLAM)
        SET @Exist = 1;
    ELSE
        SET @Exist = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT TRIM(HO)+'  '+TRIM(TEN) FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_GETTPNT]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_GETTPNT]
    @MaTPNT VARCHAR(50)
AS
BEGIN

	SELECT MATPNT ,TENTPNT ,
	TENTACGIA = (SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA = TP.MATACGIA ),
	CTMOTA = TP.MOTA
	FROM TPNT TP
	WHERE MATPNT = @MaTPNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETTPNTBYMATRIENLAM]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[SP_GETTPNTBYMATRIENLAM]
    @MaTrienLam VARCHAR(50)
AS
BEGIN

	SELECT MATPNT ,TENTPNT ,
	TENTACGIA = (SELECT TG.TEN FROM TACGIA TG WHERE TG.MATACGIA = TP.MATACGIA ),
	CTMOTA =TP.MOTA
	FROM TPNT TP
	WHERE MATPNT IN (SELECT MATPNT FROM CT_TRIENLAM
					WHERE MATRIENLAM = @MaTrienLam )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETTRIENLAMRANGEDATE]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[SP_GETTRIENLAMRANGEDATE]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
   
   SELECT TL.MATRIENLAM , TL.TENTRIENLAM , TL.NGAYBD , TL.NGAYKT,
	SOTPNT = (SELECT COUNT(CTTL.MATRIENLAM) FROM CT_TRIENLAM CTTL WHERE CTTL.MATRIENLAM = TL.MATRIENLAM)
	FROM TRIENLAM TL
	WHERE NGAYBD >= @StartDate AND NGAYBD <= @EndDate

END




GO
/****** Object:  StoredProcedure [dbo].[SP_GHIHOIHOA_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_GHIHOIHOA_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),
    @TRUONGPHAI NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),
	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			          VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

			INSERT INTO HOIHOA (MATPNT, TRUONGPHAI, CHATLIEU, VATLIEU)
					    VALUES (@MATPNT ,@TRUONGPHAI , @CHATLIEU ,@VATLIEU)

			INSERT INTO LOAIMUON (MATPNT, MABOSUUTAP, NGAYMUON, NGAYTRA)
						  VALUES (@MATPNT, @MABOSUUTAP, @NGAYMUON, @NGAYTRA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHIHOIHOA_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_GHIHOIHOA_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),
    @TRUONGPHAI NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),
	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

			INSERT INTO HOIHOA (MATPNT, TRUONGPHAI, CHATLIEU, VATLIEU)
			VALUES (@MATPNT ,@TRUONGPHAI , @CHATLIEU ,@VATLIEU)

			INSERT INTO LOAIRIENG (MATPNT, NGAYSOHUU, TINHTRANG, VITRI, TRIGIA)
            VALUES (@MATPNT, @NGAYSOHUU, @TINHTRANG, @VITRI, @TRIGIA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHILOAIKHAC_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_GHILOAIKHAC_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@THELOAI NCHAR(30),
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),

	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			          VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

			INSERT INTO KHAC (MATPNT, THELOAI , PHONGCACH, CHATLIEU, VATLIEU)
					    VALUES (@MATPNT ,@THELOAI , @PHONGCACH , @CHATLIEU ,@VATLIEU)

			INSERT INTO LOAIMUON (MATPNT, MABOSUUTAP, NGAYMUON, NGAYTRA)
						  VALUES (@MATPNT, @MABOSUUTAP, @NGAYMUON, @NGAYTRA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHILOAIKHAC_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_GHILOAIKHAC_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),
    @THELOAI NCHAR(30),
    @PHONGCACH NCHAR(30),
    @CHATLIEU NCHAR(30),
	@VATLIEU NCHAR(30),
	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

			INSERT INTO KHAC (MATPNT, THELOAI , PHONGCACH, CHATLIEU, VATLIEU)
			VALUES (@MATPNT ,@THELOAI ,@PHONGCACH  , @CHATLIEU ,@VATLIEU)

			INSERT INTO LOAIRIENG (MATPNT, NGAYSOHUU, TINHTRANG, VITRI, TRIGIA)
            VALUES (@MATPNT, @NGAYSOHUU, @TINHTRANG, @VITRI, @TRIGIA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHITACTUONG_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_GHITACTUONG_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@CHIEUCAO INT,
	@KHOILUONG INT,
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),

	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			          VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

		    INSERT INTO TACTUONG(MATPNT, CHIEUCAO , KHOILUONG , PHONGCACH, VATLIEU)
					  VALUES (@MATPNT ,@CHIEUCAO , @KHOILUONG ,@PHONGCACH , @VATLIEU)

			INSERT INTO LOAIMUON (MATPNT, MABOSUUTAP, NGAYMUON, NGAYTRA)
						  VALUES (@MATPNT, @MABOSUUTAP, @NGAYMUON, @NGAYTRA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHITACTUONG_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_GHITACTUONG_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@CHIEUCAO INT,
	@KHOILUONG INT,
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),
   

	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO TPNT (MATPNT, TENTPNT, MATACGIA, MOTA)
			VALUES (@MATPNT, @TENTPNT , @MATACGIA , @MOTA)

			INSERT INTO TACTUONG(MATPNT, CHIEUCAO , KHOILUONG , PHONGCACH, VATLIEU)
			VALUES (@MATPNT ,@CHIEUCAO , @KHOILUONG ,@PHONGCACH , @VATLIEU)

			INSERT INTO LOAIRIENG (MATPNT, NGAYSOHUU, TINHTRANG, VITRI, TRIGIA)
            VALUES (@MATPNT, @NGAYSOHUU, @TINHTRANG, @VITRI, @TRIGIA)

			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYLOGINNAME]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_LAYLOGINNAME] @USERNAME NVARCHAR(50)
AS
BEGIN

	
	SELECT NAME FROM sys.syslogins WHERE SID = (SELECT sid FROM SYS.sysusers WHERE name = @USERNAME)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_NGAYTRIENLAM]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REPORT_NGAYTRIENLAM]
  @NGAYBD DATETIME,
  @NGAYKT DATETIME
AS
BEGIN
 
        SELECT *
        FROM TRIENLAM
        WHERE NGAYBD <= @NGAYBD AND NGAYKT <= @NGAYKT
      
END
GO
/****** Object:  StoredProcedure [dbo].[SP_STT_BACKUP]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_STT_BACKUP]
@DBNAME nvarchar(50)
AS
SELECT
    bs.position AS 'BẢN SAO LƯU THỨ',
    bs.software_vendor_id AS 'MÃ SỐ',
    bs.description AS 'DIỄN TẢ',
    bs.backup_start_date AS 'THỜI GIAN',
    bs.user_name AS 'NAME',
    CASE
        WHEN bs.type = 'D' THEN 'FULL'
        WHEN bs.type = 'I' THEN 'DIFFERENTIAL'
        ELSE 'UNKNOWN'
    END AS 'LOẠI',
    bmf.physical_device_name AS 'TÊN TỆP'
FROM msdb.dbo.backupset bs
JOIN msdb.dbo.backupmediafamily bmf ON bs.media_set_id = bmf.media_set_id
WHERE
    bs.database_name = @DBNAME
    AND (
        bs.type = 'D' OR bs.type = 'I'
    )
    AND bs.backup_set_id >= (
        SELECT backup_set_id
        FROM msdb.dbo.backupset
        WHERE
            position = 1
            AND database_name = @DBNAME
            AND type = 'D'
            AND backup_finish_date = (
                SELECT MAX(backup_finish_date)
                FROM msdb.dbo.backupset
                WHERE
                    database_name = @DBNAME
                    AND type = 'D'
                    AND position = 1
            )
    )
ORDER BY bs.position DESC;

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN

	  DECLARE @RET INT
	  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QL_BAOTANG'
	  IF (@RET =1)  -- LOGIN NAME BI TRUNG
	  BEGIN
		 RETURN 1
	  END
 
	  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	  IF (@RET =1)  -- USER  NAME BI TRUNG
	  BEGIN
		   EXEC SP_DROPLOGIN @LGNAME
		   RETURN 2
	  END



	 EXEC sp_addrolemember @ROLE, @USERNAME
	 IF @ROLE= 'ADMIN'
	  BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin' 
		EXEC sp_addsrvrolemember @LGNAME, 'dbcreator'
		EXEC sp_addsrvrolemember @LGNAME, 'diskadmin'
	  END

RETURN 0  -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEHOIHOA_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_UPDATEHOIHOA_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),
    @TRUONGPHAI NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),
	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT

			UPDATE HOIHOA
			SET TRUONGPHAI = @TRUONGPHAI, CHATLIEU = @CHATLIEU, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT

			UPDATE LOAIMUON
			SET MABOSUUTAP = @MABOSUUTAP, NGAYMUON = @NGAYMUON, NGAYTRA = @NGAYTRA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEHOIHOA_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_UPDATEHOIHOA_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),
    @TRUONGPHAI NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),
	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT

			UPDATE HOIHOA
			SET TRUONGPHAI = @TRUONGPHAI, CHATLIEU = @CHATLIEU, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT

			UPDATE LOAIRIENG
			SET NGAYSOHUU = @NGAYSOHUU, TINHTRANG = @TINHTRANG, VITRI = @VITRI, TRIGIA = @TRIGIA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEKHAC_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROC [dbo].[SP_UPDATEKHAC_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

   	@THELOAI NCHAR(30),
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),

	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT

			UPDATE KHAC
			SET THELOAI = @THELOAI, PHONGCACH = @PHONGCACH, CHATLIEU = @CHATLIEU, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT

			UPDATE LOAIMUON
			SET MABOSUUTAP = @MABOSUUTAP, NGAYMUON = @NGAYMUON, NGAYTRA = @NGAYTRA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEKHAC_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_UPDATEKHAC_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@THELOAI NCHAR(30),
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),
    @CHATLIEU NCHAR(30),

	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT

			UPDATE KHAC
			SET THELOAI = @THELOAI, PHONGCACH = @PHONGCACH, CHATLIEU = @CHATLIEU, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT


			UPDATE LOAIRIENG
			SET NGAYSOHUU = @NGAYSOHUU, TINHTRANG = @TINHTRANG, VITRI = @VITRI, TRIGIA = @TRIGIA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATETACTUONG_LOAIMUON]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROC [dbo].[SP_UPDATETACTUONG_LOAIMUON]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@CHIEUCAO INT,
	@KHOILUONG INT,
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),

	@MABOSUUTAP NCHAR(10),
	@NGAYMUON DATETIME,
	@NGAYTRA DATETIME

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT
			
			UPDATE TACTUONG
			SET CHIEUCAO = @CHIEUCAO, KHOILUONG = @KHOILUONG, PHONGCACH = @PHONGCACH, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT
		
			UPDATE LOAIMUON
			SET MABOSUUTAP = @MABOSUUTAP, NGAYMUON = @NGAYMUON, NGAYTRA = @NGAYTRA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATETACTUONG_LOAIRIENG]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROC [dbo].[SP_UPDATETACTUONG_LOAIRIENG]
    @MATPNT NCHAR(10),
    @TENTPNT NCHAR(30),
    @MATACGIA NCHAR(10),
    @MOTA NCHAR(100),

	@CHIEUCAO INT,
	@KHOILUONG INT,
    @PHONGCACH NCHAR(30),
    @VATLIEU NCHAR(30),

	@NGAYSOHUU DATETIME,
	@TINHTRANG NCHAR(30),
	@VITRI NCHAR(30),
	@TRIGIA money

AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			UPDATE TPNT
            SET TENTPNT = @TENTPNT, MATACGIA = @MATACGIA, MOTA = @MOTA
            WHERE MATPNT = @MATPNT

			UPDATE TACTUONG
			SET CHIEUCAO = @CHIEUCAO, KHOILUONG = @KHOILUONG, PHONGCACH = @PHONGCACH, VATLIEU = @VATLIEU
			WHERE MATPNT = @MATPNT


			UPDATE LOAIRIENG
			SET NGAYSOHUU = @NGAYSOHUU, TINHTRANG = @TINHTRANG, VITRI = @VITRI, TRIGIA = @TRIGIA
			WHERE MATPNT = @MATPNT


			COMMIT TRAN
		END TRY

		BEGIN CATCH
			ROLLBACK
			RAISERROR(N'Ghi thất bại!', 16, 1)
		END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOGIN]    Script Date: 26/05/2023 10:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_XOALOGIN]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
BEGIN
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
END
GO
